* {
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}
.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #121875 , #490461);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    
}
.hero h1 {
    font-size: 80px;
    font-weight: 600;
    margin-top: -10px;
    margin-bottom: -10px;
}
.hero h1 span {
    font-size: 90px;
    font-weight: 700;
    color: #f849a1;
}
textarea {
    width: 70%;
    height: 250px;
    margin-top: 25px;
    border: 0;
    outline: 0;
    font-size: 20px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 4px 8px 4px 0 black;
    resize: none;
    margin-bottom: 40px;
    background: #403d84;
}

textarea::placeholder {
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
}

.row {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 40px;
}
button {
    background: #ff2963;
    color: #fff;
    font-size: 26px;
    padding: 10px 30px;
    border-radius: 35px;
    outline: 0;
    border: 0;
    box-shadow: 2px 2px 2px 0 black;
    cursor: pointer;
}
select {
    flex: 1;
    color: #fff;
    background: #403d84;
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    box-shadow: 2px 2px 2px 0 black;
    border-radius: 35px;
    
}